body{

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
.main {
    border-radius: 25px;
    color: black;
    margin: 0 auto;
    background-color: lightblue;
    height: 900px;
    width: 800px;
    margin-top: 25px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-img-top{

}
.card{
    width: 75%;
    border-radius: 25px;
}
.author{
    margin-bottom: 15px;
}
.port-content{
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.content-section{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.wrapper{
    display: flex;
}
.settings{
    margin:25px 5px 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar{
    display: flex;
    border-radius: 5px;
    background-color: #cccccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.settings-btn{
    text-align: center;
    width: 200px;
    padding: 5px 15px;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
}
.settings-btn:hover{
    opacity: 0.5;
    text-decoration: none;
    color: white;
    background-color: black;
}

.main-greeting{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.menu{
    opacity: 0.8;
    background-color:#343a40;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}
.menu a{
    text-decoration: none;
    margin: 15px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.menu a:hover{
    color: black;
    border-bottom: solid black;

}