{% extends 'layout.html' %}

{% block body %}
<div class="wrapper">
<aside class="sidebar">
<form class="settings" action="" method="post">
    <a class="settings-btn" href="{{ url_for('port.port_title_update') }}">Update Portfolio</a>
    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
</aside>
    <div class="main" id="main">
        <fieldset>
            <div class="title h1">
                {{ port.title }}
                <hr>
            </div>
        </fieldset>
        <fieldset>
            <div  class="author d-flex p-2 bd-highlight d-flex justify-content-around align-items-center">
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='profile_pics/' + port.creator.image_file) }}" alt="" height="128" class="rounded-circle">
                </div>
                <div class="card">
                  <div class="card-body">
                      <span>Author: {{ user }} </span>
                      <hr>
                      <p>About me: {{ port.about }}</p>
                      <hr>
                      <span>School: {{ port.school }};</span>
                      <small>Avg mark: {{ port.avg }}.</small>

                  </div>
                </div>

            </div>
        </fieldset>
        <hr>
        <fieldset>
            <div  class="port-content">
                <p>{{ port.content }}</p>
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <div class="link">
                <a href="#">{{ port.link }}</a>
            </div>
        </fieldset>


    </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete portfolio?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('port.delete_port') }}" method="post">
                  <input class="btn btn-danger" type="submit" value="Delete">
              </form>
          </div>
        </div>
      </div>
    </div>
<hr>
    <form action="">
    <div class="input-group-sm mb-3 mt-3">
        <label for="port-color-back">Try some colors for background(not saving in db):</label>
        <input class="form-control" type="text" id="port-color-back" placeholder="green">
        <label for="port-color-font">Try some colors for font(not saving in db):</label>
        <input class="form-control" type="text" id="port-color-font" placeholder="white">
    </div>
    </form>
    <div class="btn-group">
        <button class="btn btn-secondary" onclick="changeColor(document.getElementById('port-color-back').value)">Switch background color</button>
        <button class="btn btn-secondary" onclick="newFont(document.getElementById('port-color-font').value)">Switch font color</button>
    </div>
  <script>
  function changeColor(newColor) {
    var elem = document.getElementById("main");
    elem.style.backgroundColor = newColor;
  }
  function newFont(newColor) {
      var elem = document.getElementById("main");
      elem.style.color = newColor

  }
  </script>
{% endblock %}