{% extends 'layout.html' %}


{% block body %}
    <div class="section">
        <form action="" method="post" style="margin:15px 50px 50px 50px;">
            {{ form.hidden_tag() }}
                <legend class="border-bottom">Create portfolio</legend>
                <div class="form-group">
                    {{ form.title.label(class='form-control-label') }}
                    {% if form.title.errors %}
                        {{ form.title(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class='form-control') }}
                    {% endif %}
                </div>
             <div class="submit">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
</div>
{% endblock %}